[tool.poetry]
name = "supabase_auth"
version = "2.5.2"
description = "Python Client Library for Supabase Auth"
authors = ["Joel Lee <joel@joellee.org>"]
homepage = "https://github.com/supabase-community/auth-py"
repository = "https://github.com/supabase-community/auth-py"
documentation = "https://github.com/supabase-community/auth-py"
readme = "README.md"
license = "MIT"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]

[tool.poetry.dependencies]
python = "^3.8"
httpx = ">=0.23,<0.28"
pydantic = ">=1.10,<3"

[tool.poetry.dev-dependencies]
pytest = "^8.2.2"
flake8 = "^5.0.4"
black = "^24.4.2"
isort = "^5.12.0"
pre-commit = "^3.4.0"
pytest-cov = "^5.0.0"
pytest-depends = "^1.0.1"
pytest-asyncio = "^0.23.7"
Faker = "^25.9.1"
unasync-cli = "^0.0.9"
python-semantic-release = "^9.8.3"

[tool.poetry.group.dev.dependencies]
pygithub = ">=1.57,<3.0"

[tool.semantic_release]
version_variables = ["supabase_auth/__init__.py:__version__"]
version_toml = ["pyproject.toml:tool.poetry.version"]
major_on_zero = false
commit_message = "chore(release): bump version to v{version}"
build_command = "curl -sSL https://install.python-poetry.org | python - && export PATH=\"/github/home/.local/bin:$PATH\" && poetry install && poetry build"
upload_to_vcs_release = true
branch = "main"
changelog_components = "semantic_release.changelog.changelog_headers,semantic_release.changelog.compare_url"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
