[tool.poetry]
name = "gotrue"
version = "0.1.0"
description = "Python Client Library for GoTrue"
authors = ["Joel Lee <joel@joellee.org>"]

[tool.poetry.dependencies]
python = "^3.9.1"

[tool.poetry.dev-dependencies]
pytest = "^4.6"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
